<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SkySite Regression Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="adede5">  <td>17/12/10 19:26:48</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;FNAManageUserSuite1.beforeTest(java.lang.String)[pri:0, instance:com.arc.fna.testscripts.FNAManageUserSuite1@1f36e637]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1150538133</td>   <td></td> </tr>
<tr bgcolor="adede5">  <td>17/12/10 19:26:58</td>   <td>9287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FNAManageUserSuite1.verifyUsedData()[pri:0, instance:com.arc.fna.testscripts.FNAManageUserSuite1@1f36e637]">verifyUsedData</td> 
  <td>main@1150538133</td>   <td></td> </tr>
</table>
