<h2>Methods that were not run</h2><table>
<tr><td>com.arc.fna.testscripts.FNA_Registration.activationOFFnAmarketing<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>TC_003(Registration) : Registration with valid credentials from marketing page</i></td></tr>
</table>