<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_001(Registration) : Verify registration with valid credentials</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:17:03 424 - Element is displayed:: [[ChromeDriver: chrome on XP (f2a6b52d4c6889be3f73896a5f3898c8)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Register button</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name: TestFirstname has been entered in FIRST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name: Testlastname has been entered in LAST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email ID: Emailtest29779@yopmail.com has been entered in EMAIL text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in State text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Phone Number 9643851109    has been entered in PHONE NUMBER text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been entered in PASSWORD text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;CREATE ACCOUNT button clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Registration with valid credentials sucessfully done</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_002(Registration) : Verify activation of F&A after registration</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:18:09 129 - Element is displayed:: [[ChromeDriver: chrome on XP (21c32825cd033fb527dcc57ec073c61d)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Register button</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name: TestFirstname has been entered in FIRST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name: Testlastname has been entered in LAST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email ID: Emailtest28569@yopmail.com has been entered in EMAIL text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in State text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Phone Number 9643851109    has been entered in PHONE NUMBER text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been entered in PASSWORD text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;CREATE ACCOUNT button clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Button is displayed</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:19:14 834 - Element is displayed:: [[ChromeDriver: chrome on XP (21c32825cd033fb527dcc57ec073c61d)] -> css selector: ul.navbar-nav:nth-child(1) > li:nth-child(1) > div:nth-child(1) > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on module navigation button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on HOME button</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:19:24 113 - Element is displayed:: [[ChromeDriver: chrome on XP (21c32825cd033fb527dcc57ec073c61d)] -> css selector: #frmCommonLandingInfoLinksActivate > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Activate FnA button to activate F&A</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:19:44 262 - Element is displayed:: [[ChromeDriver: chrome on XP (21c32825cd033fb527dcc57ec073c61d)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Activation of FnA module sucessfully done</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_001(My Profile) : Verify editing of data in all fields of My Profile section</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:04 872 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:10 024 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: trinanjwanautomation1@gmail.com has been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:10 558 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> css selector: #btnLogin]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:32 450 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Login Validation:</div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for My Profile button to display</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:48 678 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button from list</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:20:52 092 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Page is loaded</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Save Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name entered is: FirstName22544</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name entered is: LastName19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Title entered is: Title19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Company is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Company entered is: CompanyNameARC19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 entered is: EM 4/1, Sector V, 7th Floor, Salt Lake, 700091</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 entered is: 1981 N. Broadway, Suite 385, Walnut Creek, CA 94596</div></td></tr>
<tr><td><div class="test-message">&emsp;USAis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Californiais selected</div></td></tr>
<tr><td><div class="test-message">&emsp;City field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;City entered is: Washignton</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;ZIP entered is: AB22313</div></td></tr>
<tr><td><div class="test-message">&emsp;Advertisingis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Architect/Engineeris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Construction Manageris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Save button</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:22:02 578 - Element is displayed:: [[ChromeDriver: chrome on XP (5b660c920e288488c55cae305615a1ff)] -> class name: noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Notification alert is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;First name field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual First name is:FirstName22544</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected first name:FirstName22544</div></td></tr>
<tr><td><div class="test-message">&emsp;Last name field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Last name is:LastName19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Last name is:LastName19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Title isTitle19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Title isTitle19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Company field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Company is:CompanyNameARC19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Company isCompanyNameARC19667</div></td></tr>
<tr><td><div class="test-message">&emsp;Country is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;State is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected country is: USA</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected state is: California</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Country is USA</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual State is California</div></td></tr>
<tr><td><div class="test-message">&emsp;Editing of data in all fields of My Profile section done successfully</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_002(My Profile) : Verify filling of data in all fields of My Profile section.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:22:33 583 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Register button</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name: TestFirstname has been entered in FIRST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name: Testlastname has been entered in LAST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email ID: Emailtest28268@yopmail.com has been entered in EMAIL text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in State text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Phone Number 9643851109    has been entered in PHONE NUMBER text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been entered in PASSWORD text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;CREATE ACCOUNT button clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Button is displayed</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:24:13 866 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> css selector: ul.navbar-nav:nth-child(1) > li:nth-child(1) > div:nth-child(1) > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on module navigation button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on HOME button</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:24:36 920 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> css selector: #frmCommonLandingInfoLinksActivate > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Activate FnA button to activate F&A</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:25:00 695 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for My Profile button to display</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:25:14 023 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button from list</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:25:27 365 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Page is loaded</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Save Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name entered is: FirstName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name entered is: LastName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Title entered is: Title17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Company is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Company entered is: CompanyNameARC17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 entered is: EM 4/1, Sector V, 7th Floor, Salt Lake, 700091</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 entered is: 1981 N. Broadway, Suite 385, Walnut Creek, CA 94596</div></td></tr>
<tr><td><div class="test-message">&emsp;USAis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Californiais selected</div></td></tr>
<tr><td><div class="test-message">&emsp;City field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;City entered is: Washignton</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;ZIP entered is: AB22313</div></td></tr>
<tr><td><div class="test-message">&emsp;Advertisingis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Architect/Engineeris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Construction Manageris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Save button</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:26:38 873 - Element is displayed:: [[ChromeDriver: chrome on XP (8ce3a669837ff666f1863b4d55138d3a)] -> class name: noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Notification alert is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;First name field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual First name is:FirstName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected first name:FirstName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Last name field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Last name is:LastName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Last name is:LastName17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Title isTitle17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Title isTitle17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Company field is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Company is:CompanyNameARC17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected Company isCompanyNameARC17997</div></td></tr>
<tr><td><div class="test-message">&emsp;Country is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;State is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected country is: USA</div></td></tr>
<tr><td><div class="test-message">&emsp;Expected state is: California</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual Country is USA</div></td></tr>
<tr><td><div class="test-message">&emsp;Actual State is California</div></td></tr>
<tr><td><div class="test-message">&emsp;Filling of data in all fields of My Profile section done successfully</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_003(My Profile) : Verify changing of Password.</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:27:13 359 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Register button</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name: TestFirstname has been entered in FIRST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name: Testlastname has been entered in LAST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email ID: Emailtest15359@yopmail.com has been entered in EMAIL text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in State text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Phone Number 9643851109    has been entered in PHONE NUMBER text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been entered in PASSWORD text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;CREATE ACCOUNT button clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Button is displayed</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:28:19 123 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: ul.navbar-nav:nth-child(1) > li:nth-child(1) > div:nth-child(1) > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on module navigation button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on HOME button</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:28:28 698 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #frmCommonLandingInfoLinksActivate > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Activate FnA button to activate F&A</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:28:47 344 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for My Profile button to display</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:29:00 649 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button from list</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:29:13 953 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Page is loaded</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Save Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name entered is: FirstName24154</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name entered is: LastName24154</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Title entered is: Title24154</div></td></tr>
<tr><td><div class="test-message">&emsp;Company is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Company entered is: CompanyNameARC24154</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 entered is: EM 4/1, Sector V, 7th Floor, Salt Lake, 700091</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 entered is: 1981 N. Broadway, Suite 385, Walnut Creek, CA 94596</div></td></tr>
<tr><td><div class="test-message">&emsp;USAis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Californiais selected</div></td></tr>
<tr><td><div class="test-message">&emsp;City field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;City entered is: Washignton</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;ZIP entered is: AB22313</div></td></tr>
<tr><td><div class="test-message">&emsp;Advertisingis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Architect/Engineeris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Construction Manageris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Save button</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:30:24 100 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> class name: noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Notification alert is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Change password button</div></td></tr>
<tr><td><div class="test-message">&emsp;123456is provided in the old password field</div></td></tr>
<tr><td><div class="test-message">&emsp;PassNew10989is provided in the new password field</div></td></tr>
<tr><td><div class="test-message">&emsp;PassNew10989is provided in the confirm password field</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking the session time out page is landed</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Click here to login' link!!!</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:30:56 117 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:31:01 252 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username: Emailtest15359@yopmail.com has been engtered in Username text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: PassNew10989 has been engtered in Password text box.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:31:01 713 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> css selector: #btnLogin]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;LogIn button clicked.</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:31:19 175 - Element is displayed:: [[ChromeDriver: chrome on XP (6066e9fe616cabaebe4074a5a0d226fb)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Login Validation:</div></td></tr>
<tr><td><div class="test-message">&emsp;Change Password functionality is verfied successfully</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">TC_004(My Profile) : Verify changing of Email ID getting changed in PROJECTS</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:31:49 475 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> css selector: #UserID]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Register button</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name: TestFirstname has been entered in FIRST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name: Testlastname has been entered in LAST NAME text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Email ID: Emailtest14063@yopmail.com has been entered in EMAIL text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;State: International Location has been entered in State text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Phone Number 9643851109    has been entered in PHONE NUMBER text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;Password: 123456 has been entered in PASSWORD text box.</div></td></tr>
<tr><td><div class="test-message">&emsp;CREATE ACCOUNT button clicked</div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Button is displayed</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:32:55 018 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> css selector: ul.navbar-nav:nth-child(1) > li:nth-child(1) > div:nth-child(1) > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on module navigation button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on HOME button</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:33:08 918 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> css selector: #frmCommonLandingInfoLinksActivate > a:nth-child(1)]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Activate FnA button to activate F&A</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:33:36 340 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> xpath: //*[@id='setting']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Checking feedback alert is there or not : 1</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on 'Got it' link!!!</div></td></tr>
<tr><td><div class="test-message">&emsp;Waiting for My Profile button to display</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:33:44 610 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;My Profile button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile button from list</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:33:47 944 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> css selector: #user-info]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Page is loaded</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched into Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Save Button is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;First Name entered is: FirstName11882</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Last Name entered is: LastName11882</div></td></tr>
<tr><td><div class="test-message">&emsp;Title field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Title entered is: Title11882</div></td></tr>
<tr><td><div class="test-message">&emsp;Company is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Company entered is: CompanyNameARC11882</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address1 entered is: EM 4/1, Sector V, 7th Floor, Salt Lake, 700091</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;Address2 entered is: 1981 N. Broadway, Suite 385, Walnut Creek, CA 94596</div></td></tr>
<tr><td><div class="test-message">&emsp;USAis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Californiais selected</div></td></tr>
<tr><td><div class="test-message">&emsp;City field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;City entered is: Washignton</div></td></tr>
<tr><td><div class="test-message">&emsp;Zip field is clear now</div></td></tr>
<tr><td><div class="test-message">&emsp;ZIP entered is: AB22313</div></td></tr>
<tr><td><div class="test-message">&emsp;Advertisingis selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Architect/Engineeris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Construction Manageris selected</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Save button</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 07 May 16:34:57 931 - Element is displayed:: [[ChromeDriver: chrome on XP (78e9b35c456aafdf7ea36f14673cf4f1)] -> class name: noty_text]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Notification alert is displayed</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Switch to My Frame</div></td></tr>
<tr><td><div class="test-message">&emsp;Present Email is:Emailtest14063@yopmail.com</div></td></tr>
<tr><td><div class="test-message">&emsp;Email field is cleared</div></td></tr>
<tr><td><div class="test-message">&emsp;New Email is:Emailtest15711@yopmail.com</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Save button</div></td></tr>
<tr><td><div class="test-message">&emsp;Switched to default content</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Home button</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on Projects button to navigate to PROJECTS</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile icon</div></td></tr>
<tr><td><div class="test-message">&emsp;Clicked on My Profile to navigate to PROJECTS</div></td></tr>
<tr><td><div class="test-message">&emsp;The actual email is:Emailtest14063@yopmail.com</div></td></tr>
<tr><td><div class="test-message">&emsp;The expected email is:Emailtest15711@yopmail.com</div></td></tr>
<tr><td><!--FAIL--></td></tr>
<tr><td><div class="test-result"><br><font color="red"><strong> Email validation got failed </strong></font> </div>&emsp;</td></tr>
</table>